@import "react-image-gallery/styles/css/image-gallery.css";
.carousel-item-padding-40-px{
    height: 450px;
    width: 100px;
}
.pagrindinisKaruselesDiv{
    width: 1240px;
    height: 450px;
    margin: 0 auto;
}
.App{
    height: 700px;
}